@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>ASP.Net Core App</h2>
        Running on DotNetCore, could use either Linux or Windows.
    </div>
</div>
